*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(89, 91, 91);
}

.container{
    max-width: 950px;
    margin: 0 auto;
}

.apply-box{
    max-width: 650px;
    padding: 25px;
    background-color: rgb(216, 198, 175);
    margin: 0 auto;
    margin-top: 55px;
    box-shadow: 2px 2px 3px rgb(221, 187, 143);
}

h1{
    text-align: center;
}
.web-title{
     font-size: 25px;
}

.form-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.form-control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 18px;
    margin-bottom: 5px;
}

input , select, textarea{
    padding: 6px 10px;
    border: 1px solid rgb(174, 147, 66) ;
    border-radius: 5px;
    font-size: 15px;
}

input:focus{
    outline-color:rgb(180, 150, 70) ;
}

#address{
    outline-color: rgb(180, 150, 70);
}

.btn-container{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        
}

button{
    background-color: rgb(245, 232, 199);
    padding: 5px 10px;
    border: rgb(180, 150, 70) solid 2px;
    border-radius: 5px;
    width: 60%;
    display: block;
    font-size: 17px;
}
button:hover{
    background-color: green;
    cursor: pointer;
}